body{
	background-image: url("../images/Dark-Blue-Gray-Background.jpg");
}

.container{
	margin-top: 25px;
}

.jumbotron{
	text-align: center;
}

#createEventInfo, #checkInInfo{
	display: none;
}

#map{
	width: 100%;
	height: 500px;
	margin-bottom: 25px;
}

